*.class
out\
out/
.idea/workspace.xml
LAB6_GR6_KAMIL_STACHOWICZ.zip

out/production/JavaFX-puzzles/times.xml

out/production/JavaFX-puzzles/view/PuzzleLayout.fxml

out/production/JavaFX-puzzles/view/RootLayout.fxml

out/production/JavaFX-puzzles/view/ScoreTableLayout.fxml

out/production/JavaFX-puzzles/assets/photo1.png
